{:paths ["src" "resources"]
 :deps {integrant/integrant {:mvn/version "0.8.1"}
        ring/ring-jetty-adapter {:mvn/version "1.10.0"}
        ring/ring-defaults {:mvn/version "0.3.4"}
        metosin/reitit {:mvn/version "0.7.0-alpha5"}
        hiccup/hiccup {:mvn/version "2.0.0-RC1"}}
 :aliases
 {:server {}
  :dev {:extra-paths ["env/dev/src"]
        :extra-deps {binaryage/devtools {:mvn/version "1.0.3"}}}
  :cljs {:extra-paths ["src" "resources"]
         :extra-deps
         {com.thheller/shadow-graft {:mvn/version "0.9.0"}
          thheller/shadow-cljs {:mvn/version "2.24.1"}}}
  :test {:extra-paths []
         :extra-deps {}}}}
